<h3>Yangi parol kiriting</h3>
<form method="POST">
    {% csrf_token %}
    {% comment %}
      <ul>
          <li>Parolingiz boshqa shaxsiy ma'lumotlaringizga juda o'xshash bo'lishi mumkin emas!</li>
          <li>Parolingizda kamida 8 ta belgi bo'lishi kerak</li>
          <li>Sizning parolingiz odatda ishlatiladigon parol bo'lishi mumkin emas!</li>
          <li>Parolingiz to'liq raqamli bo'lishi mumkin emas!</li>
      </ul>
    {% endcomment %}
    {{form}}
    {% if messages %}
      {% for m in messages  %}
      <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
        {{ m }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

		{% endfor %}
	  {% endif %}
    <input type="submit" name="Update_password" value="ok">
</form>