{% load static %}

{% url 'index' as index %}
{% url 'about' as about %}
{% url 'agents' as agents %}
{% url 'blog' as blog %}
{% url 'properties' as properties %}
{% url 'contact' as contact %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}" >
    <link rel="stylesheet" href=" {% static 'css/animate.css' %} ">
    
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">

    
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Font Icon -->
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>
        {% block title %}
            
        {% endblock title %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">Hamlet.</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if index == request.path %}active{% endif %}" id="indexx"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
            {% if not request.user.is_authenticated %}
            <li class="nav-item {% if add == request.path %}active{% endif %}" ><a href="{% if request.user.is_authenticated  %} new_add {% else %}{% url 'sign_in' %} {% endif %}" class="nav-link">Add announcement</a></li>       
            {%endif%}       
	        	<li class="nav-item {% if properties == request.path %}active{% endif %}" id="properties" ><a href="{% url 'properties' %}" class="nav-link">Properties</a></li>
            <li class="nav-item {% if agents == request.path %}active{% endif %}" id="agents" ><a href= "{% url 'agents' %}"  class="nav-link">Agents</a></li>
            <li class="nav-item {% if blog == request.path %}active{% endif %}" id='blog' ><a href="{% url 'blog' %}"  class="nav-link">Blog</a></li>
            <li class="nav-item {% if about == request.path %}active{% endif %}" id='about' ><a href="{% url 'about' %}" class="nav-link">About</a></li>
            <li class="nav-item {% if contact == request.path %}active{% endif %}" id='contact' ><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>	   
            {% if request.user.is_authenticated %}
              <li class="nav-item cta" >
                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a href="" class="nav-link mt-3">{{ request.user }}</a>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-top: -5px;">
                    <a href="{% url 'profile' %}" class="dropdown-item">Edit</a>   
                    {% if request.user.is_staff %}
                    <a class="dropdown-item" href="../../{{request.user}}">Announcement</a>
                    <a href="../../{{request.user}}/new_add" class="dropdown-item">E'lon berish</a>   
                                            
                    {% endif %}                      
                    <a class="dropdown-item" href="{% url 'sign_out' %}">Exit</a>
                  </div>
                </div>
              </li>
            {% else %}
               <li class="nav-item cta">
                  <a href="{% url 'sign_in' %}" class="nav-link">Sign IN</a>
              </li>
            {% endif %}       

            
	        </ul>
	      </div>
	    </div>
	</nav>

    {% block content %}
    
    {% endblock content%}

    <footer class="ftco-footer ftco-footer-2 ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Hamlet.</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Company</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Services</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>FAQ</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Reviews</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Stories</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Explore</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Privacy</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Policy</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Terms</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Review</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Features</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Get Started</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Buy</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Rent</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Payment</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Mortgage</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Loan</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Newsletter</h2>
            	<p>Far far away, behind the word mountains, far from the countries.</p>
              <form id = "subscribe" method="POST" class="subscribe-form">
                {% csrf_token %}
                <div class="form-group">
                  <input name = "email" type="email" class="form-control mb-2 text-center" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" id = "email_submit" class="form-control submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $('#subscribe').submit(function(e){
      e.preventDefault();
      var email_id = $("#email_id").val();
      if(email_id){
        var csrfmiddlewaretoken = csrftoken;
        var email_data = {"email_id": email_id, 
                          "csrfmiddlewaretoken" : csrfmiddlewaretoken};
        $.ajax({
          type : 'POST',
          url :  '/subscribe/',
          data : email_data,
          success : function(response){
            $('#email_id').val(''); 
            if(response.status == "404"){
              alert("This Email is already been subscribed!");
            }
            else{
              alert("Thank you for Subscribing! Please Check your Email to Confirm the Subscription");
            }
          },
          error: function(response) {
            alert("Sorry Something went Wrong");
            $('#email_id').val(''); 
          }
        });
        return false;
      }
      else{
        alert("Please provide correct email!");
      }
  });
 

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
})
  </script> -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'js/google-map.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">


    $(document).ready(function(event){
      $('.reply-btn').click(function()
      {
        $(this).parent().parent().next('.replied-comments').fadeToggle()
      });
    });

    $(document).on('submit','comment-form', function(event){
      event.prevenDefault();
      console.log($(this).serialize());
      $.ajax({
        type:'POST',
        url:$(this).attr(action),
        data:$(this).serialize(),
        dataType: 'json',
        success: function(response){
          $('main-comment-section').html(response['form']);
          $('textarea').val('');
          $('.reply-btn').click(function()
          {
            $(this).parent().parent().next('.replied-comments').fadeToggle()
            $('textarea').val('');
          });
          
        },
        error: function(rs,e){
          console.log(rs.responseText)
        }        
      })
    })
  </script>
</body>
</html>