
{% extends 'base.html' %}
{% load static %}
{% block title %}
   blog-single
{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_4.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Blog Single</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="{% url 'blog' %}">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
			<div class="container">
				<div class="row">
          <div class="col-lg-8 ftco-animate">
          	<p>
              <img src="{{posts.post_single_image1.url}}" width="100%" class="img-fluid">
            </p>
            <h2 class="mb-3">{{posts.title}}.</h2>
            <p>{{posts.content_header}}</p>
            <h2 class="mb-3 mt-5">#2. Creative WordPress Themes</h2>
            <p>{{posts.content_body}}</p>
            <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                {% for i in posts.tags.all %}
                <a href="{% url 'tagged' i.slug %}" class="tag-cloud-link">{{i}}</a>
                {% endfor %}
                <!-- <a href="#" class="tag-cloud-link">Sport</a>
                <a href="#" class="tag-cloud-link">Tech</a>
                <a href="#" class="tag-cloud-link">Travel</a> -->
              </div>
            </div>
            
            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img src="{% static 'images/person_1.jp' %}g" alt="Image placeholder" class="img-fluid mb-4">
              </div>
              <div class="desc">
                <h3 class=" text-muted">{{ posts.agent }}| {{ posts.date }}</h3>
                <p class= "card-text">{{ posts.title | safe }}</p>
              </div>
            </div>

            <div class="pt-5 mt-5">
              <h3 class="mb-5">{{ comments.count }} Comments</h3>
              <h3 class="mb-5">Leave a comment</h3>
              
              {% for comment in comments %}
              <ul class="comment-list">
                
                    <li class="comment">
                    <div class="vcard bio">
                        <img src="{{comment.author.userdetail.author_image.url}}" alt="Image placeholder">
                    </div>
                    <div class="comment-body">
                        <h3>{{ comment.name }}</h3>
                        <div class="meta">{{comment.created_on}}</div>
                        <p>{{comment.body}}</p>
                        <button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm ml-2">Reply</button>
                    </div>
                    </li>
                
                <div class="replied-comments container mt-2" style="display:none">
                    {% for reply in comment.replies.all %}
                    <ul class="comment-list">
                        <li class="comment ml-5">
                        <div class="vcard bio">
                        <img src="{{reply.author.userdetail.author_image.url}}" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                            <h3 style="font-size:14px;">{{ reply.name }}</h3>
                            <small><div class="meta h1" style="font-size:14px;">{{reply.created_on}}</div></small>
                            <div class="comment-list">
                              <p style="font-size:14px;">{{reply.body|truncatechars:50}}</p>
                            </div>
                        </div>
                        </li>
                    </ul>
                    {% endfor %}
                    <div class="form-group row">
                    {% if new_comment %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                        Your comment is awaiting moderation
                        </div>
                    {% else %}
                      <div class="form-group row">
                          <form method="POST"  class="p-3 ml-5 bg-light reply-form" action=".">
                            {% csrf_token %}
                          <input type="hidden" name="comment_id" value="{{ comment.id }}">
                          {% if not request.user.is_authenticated %}
                              <div class="form-group">
                              <label for="message">Message</label>
                              {{comment_form.body|as_crispy_field}}
                              </div>
                              <a class="btn btn-outline-info" href="{% url 'sign_up' %}?next={{request.path}}">Izoh qoldirish uchun ro'yhatdan o'ting !</a>
                          {% else %}
                              <div class="form-group">
                              <label for="message">Message</label>
                              <input type="hidden" name="name" value="{{request.user.username}}">
                              <input type="hidden" name="email" value="{{request.user.email}}">
                              {{comment_form.body}}
                              </div>
                              <div class="form-group m-0">
                              <input type="submit" value="Send" class="btn py-2 px-3 btn-primary">
                              </div>
                          {% endif %}
                          </form>
                      </div>
                    {% endif %}
                    </div>
                </div>
              </ul>
              {% endfor %}
              <!-- END comment-list -->
              {% if new_comment %}
                <div class="modal modal-success modal-dismissible fade show" role="modal">
                  Your comment is awaiting moderation
                </div>
                
              {% else %}
              <div class="comment-form-wrap pt-5">
                
                <form method="POST"  class="p-5 bg-light comment-form" action=".">
                  {% csrf_token %}
                {% if not request.user.is_authenticated %}
                    <div class="form-group">
                      <label for="message">Message</label>
                      {{comment_form.body}}
                    </div>
                    <a class="btn btn-outline-info" href="{% url 'sign_up' %}?next={{request.path}}">Log in to add a comment!</a>
                {% else %}
                    <div class="form-group">
                      <label for="message">Message</label>
                      <input type="hidden" name="name" value="{{request.user.username}}">
                      <input type="hidden" name="email" value="{{request.user.email}}">
                      {{comment_form.body}}
                    </div>
                    <div class="form-group">
                      <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                    </div>
                
                  
               {% endif %}
                </form>
                
              </div>
              {% endif %}
            </div>
          </div> 

          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="{% url 'search' %}" method="GET" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" name="keyvalue" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <div class="sidebar-box ftco-animate">
            	<h3>Category</h3>
              <ul class="categories">
                {% for i in categories %}
                <li><a href="{% url 'categories-detail' i.id %}">{{i.name}} <span>({{i.post_set.all.count}})</span></a></li>
                {% endfor %}
                <!-- <li><a href="#">Exterior Design <span>(8)</span></a></li>
                <li><a href="#">Industrial Design <span>(2)</span></a></li>
                <li><a href="#">Landscape Design <span>(2)</span></a></li> -->
              </ul>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Popular Articles</h3>
              {% for blog in blog_post %}
                
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url('{{blog.post_image.url}}')"></a>
                <div class="text">
                  <h3 class="heading"><a href="{% url 'blog-single' blog.id%}">{{blog.title}}</a></h3>
                  <div class="meta">
                    <div><a href="{% url 'blog-single' blog.id%}"><span class="icon-calendar"></span> {{blog.date}}</a></div>
                    <div><a href="{% url 'blog-single' blog.id%}"><span class="icon-person"></span>{{blog.agent}}</a></div>
                    <div><a href="{% url 'blog-single' blog.id%}"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>

              {% endfor %}
              
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Tag Cloud</h3>
              <ul class="tagcloud m-0 p-0">
                {% for tag in post %}
                <a href="{% url 'tagged' tag.slug %}" class="tag-cloud-link">{{tag}}</a>
                {% endfor %}
                
                {% comment %}
                <a href="#" class="tag-cloud-link">Office</a>
                <a href="#" class="tag-cloud-link">Land</a>
                <a href="#" class="tag-cloud-link">Building</a>
                <a href="#" class="tag-cloud-link">Table</a>
                <a href="#" class="tag-cloud-link">Intrior</a>
                <a href="#" class="tag-cloud-link">Exterior</a>
                {% endcomment %}
              </ul>
            </div>

            <div class="sidebar-box ftco-animate">
              <div id='site__side'>
                ...
                {% regroup all_posts by posted.year as year_list %}
            
                <ul>
                {% for year in year_list %}
                    <li>{{ year.grouper }}
                        {% regroup year.list by posted.month as month_list %}
                        <ul>
                        {% for month in month_list %}
                            <li><a href="{% url 'blog:post_archive_month' year.grouper month.grouper %}">{{ month.list.0.posted|date:'b' }} ({{ month.list|length }})</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
                ...
            </div>
            	<!-- <h3>Archives</h3>
              <ul class="categories">
              	<li><a href="#">December 2018 <span>(30)</span></a></li>
              	<li><a href="#">Novemmber 2018 <span>(20)</span></a></li>
                <li><a href="#">September 2018 <span>(6)</span></a></li>
                <li><a href="#">August 2018 <span>(8)</span></a></li>
              </ul> -->
            </div>


            <div class="sidebar-box ftco-animate">
              <h3>Paragraph</h3>
              <p>{{posts.paragraph}}</p>
            </div>
          </div><!-- END COL -->
            </div>
			</div>
		</section>

{% endblock %}

    
  

 